body {
    background-image: linear-gradient(#709c65, #607d9a);
}

#aboutInfo {
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    width: 40%;

    h1 {
        font-size: 35px;
    }

    h3 {
        font-weight: 500;
        font-size: 20px;
    }

   a:link {
        color: rgb(255, 255, 255);
        text-shadow: none;
        font-size: 14px;
    }

    a:visited {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    a:hover {
    color: rgb(173, 243, 255);
    }
}



