body {
    background-color: #5e7d56;
}

#aboutInfo {
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    width: 40%;

    h1 {
        font-size: 35px;
    }

    h3 {
        font-weight: 500;
        font-size: 20px;
    }

    a {
        font-size: 14px;
    }

    a:link {
        color: white;
        text-decoration: none;
    }

    a:visited {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: rgb(173, 243, 255);
    }
}

