body {
    background-color: #5e7d56;
}

#helpInfo {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    width: 60%;

    #helpTitle {
        font-size: 38px;
    }

    h3 {
        font-weight: 500;
    }

    a:link {
        color: white;
        text-decoration: none;
        font-size: 14px;
    }

    a:visited {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: rgb(173, 243, 255);
    }

    .helpSectionTitle {
        font-size: 18px;
    }
}



