body {
    background-image: linear-gradient(#709c65, #607d9a);
}

#helpInfo {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    width: 60%;

    #helpTitle {
        font-size: 38px;
    }

    h3 {
        font-weight: 500;
    }

    a:link {
        color: rgb(255, 255, 255);
        text-shadow: none;
        font-size: 14px;
    }

    a:visited {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    a:hover {
    color: rgb(173, 243, 255);
    }
}



