#searchAlertsSection {
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

#manageAlertsTitle {
    margin-left: 0;
    text-align: center;
    font-size: 18px;
}

#manageAlertsTable {
    width: 40%;
    margin: 0 auto;
    text-align: left;
    padding: 12px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(230, 230, 230);
    color: black;

    td {
        padding-bottom: 10px;
    }
}

#emailCol {
    width: 50%;
}

#locationCol {
    width: 30%;
}

#intervalCol {
    width: 20%;
}