body {
  background-image: linear-gradient(rgba(132, 132, 132, 0.241), #4b5d49ad),
  url("./img/IMG_2003-Enhanced-NR.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

#searchAlertsSection {
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    text-shadow: 1.5px 1.5px rgb(100, 100, 100);
}

#manageAlertsTitle {
    margin-left: 0;
    text-align: center;
    font-size: 18px;
}

#manageAlertsTable {
    width: 40%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: left;
    padding: 12px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(230, 230, 230);
    color: black;

    td {
        padding-bottom: 10px;
    }
}

#emailCol {
    width: 50%;
}

#locationCol {
    width: 30%;
}

#intervalCol {
    width: 20%;
}

.deleteButton {
    position: absolute;
    margin-left: -30px;
    color: red;
    font-size: 18px;
    background-color: transparent;
    border: none;
}

.deleteButton:hover {
    font-weight: 800;
}