body {
    background-image: linear-gradient(rgba(132, 132, 132, 0.241), #4b5d49ad),
    url("./img/IMG_0492.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

input[type="submit"] {
    width: 100px;
    height: 30px;
}

#alertFormSection {
    /* center form */
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    text-shadow: 1.5px 1.5px rgb(100, 100, 100);

    label {
        display: block;
        margin-left: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.alertInput {
    width: inherit;
    margin: 0 auto;
    
    input {
        width: 180px;
        margin-left: 210px;
    }
    
    button {
        width: 60px;
    }

    p {
       display: inline-block;
       position: absolute;
       margin-left: 5px;
       margin-top: 3px;
    }
}

#apiHelpHomepage {
    text-align: right;
    margin-right: 210px;
    margin-top: 5px;
    margin-bottom: -25px;
    font-size: 12px;
}

#hotspotSearchNote {
    text-align: center;
    text-wrap-mode: wrap;
    width: 240px;
    margin-left: 180px;
    margin-bottom: -15px;
    font-size: 10px;
}

#alertTimeInput {
    text-align: center;
}

#frequency {
    margin-top: 20px;
    border: 0;

    legend {
        margin-left: 85px;
        margin-bottom: 5px;
    }

    label {
        display: inline-block;
        margin-left: 0;
    }
}

#days, #hours {
    width: 70px;
}

#alertSubmit {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#countyCheckboxes,  #hotspotCheckboxes {
    padding: 10px;
    position: absolute;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    
    label {
        display: block;
        margin-left: 30px;
        margin-bottom: 25px;
        margin-top: -25px;
        color: black;
    }

    input {
        margin-bottom: 10px;
    }
}

#countyCheckboxes {
    width: 170px;
    margin: 0 auto;
    right: 0;
    left: 0;
    margin-top: -202px;
}

#hotspotCheckboxes {
    width: 320px;
    margin: 0 auto;
    right: 0;
    left: 0;
    margin-top: -145px;
}