#alertFormSection {
    /* center form */
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgb(114, 156, 156);

    label {
        margin-left: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
        /* make form input on next line */
        display: block;
    }
}

.alertInput {
    text-align: center;
}

#validateKeyButton, #filterCountyButton, #filterHotspotButton {
    float: right;
}

#apiHelpHomepage {
    text-align: right;
    margin-right: 150px;
    font-size: 12px;
}

/* start frequency section */
#frequency {
    margin-top: 20px;
    border: 0;

    legend {
        margin-left: 45px;
        margin-bottom: 5px;
    }

    label {
        display: inline-block;
        margin-left: 0;
    }
}

#days, #hours {
    width: 70px;
}
/* end frequency section */

#submit {
    margin-top: 20px;
}
