body {
    background-image: linear-gradient(rgb(113, 196, 255), rgb(160, 215, 255));
    height: 100%;
    color: white;
    font-family: monospace;
}

button, input[type="submit"] {
    font-family: monospace;
    background-color: white;
    border-radius: 25px;
    border: none
}

button:hover, input[type="submit"]:hover {
    background-color: rgb(207, 207, 207);
}

#siteName {
    display: inline-block;
    margin-left: 15px;
}

#nav {
    float: right;
    font-size: 14px;
    font-weight: 500;
    text-shadow: 1.5px 1.5px rgb(100, 100, 100);

    li {
        display: inline-block;
        padding: 15px;
    }

    a:link {
        color: white;
        text-decoration: none;
    }

    a:visited {
        color: white;
        text-decoration: none;
    }

    a:hover {
    color: rgb(173, 243, 255);
}
}

.formTitle {
    margin-left: 0;
    text-align: center;
    font-size: 18px;
}

.formInput {
    text-align: center;
}

#apiHelpHomepage, #apiHelpDataPage {
    a:link {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    a:visited {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    a:hover {
    color: rgb(173, 243, 255);
    }
}